@import "vars";

.mainpage{
  & .container{
    position: relative;
    top: 150px;
  }
  &__about{
    & h4{
      font-weight: 500;
      font-size: 14px;
      line-height: 0 ;
      letter-spacing: 0.5em;
      color: $secondColor;
    }
    & h1{
      font-weight: 500;
      font-size: 50px;
      line-height: 75px;
      span{
        text-decoration-line: underline;
      }
    }
  }
}