@import "vars";
@import "null";
@import "header";
@import "mainpage";

*{
  color: $mainColor;
}

.wrapper{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container{
  max-width: $maxWidthContainer + px !important;
  margin: 0 auto !important;
  padding: 0 15px !important;
}

span{
  color: $secondColor;
}

